.listBox {
    position: relative;
    width: fit-content;
}

.options {
    position: absolute;
    z-index: var(--popup-z-index);
    gap: 10px;
    border-radius: var(--radii);
    padding: 10px 20px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    background-color: var(--listbox-bg);
}

.item {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.item.active {
    transform: scale(1.1);
}

.item.disabled {
    opacity: 0.7;
}

.info {
    display: flex;
    align-items: center;
    gap: 5px;
}